/.vscode
/a.py
/b.py
/config.ini
/DATA
/desktop.ini
/epub
/kivy_venv
/log.txt
/lucida-sans-unicode.pkl
/old
/pdf
/Rubbish
/__pycache__
/config
temp config/chapterlist.ini
temp config/config.ini
temp config/style.ini
.gitignore

test.py
.gitignore
