__pycache__/b.cpython-39.pyc
__pycache__/c.cpython-39.pyc
__pycache__/epubgenerator.cpython-39.pyc
__pycache__/firstuse.cpython-39.pyc
__pycache__/flaskapp.cpython-39.pyc
__pycache__/gui.cpython-39.pyc
__pycache__/lib.cpython-39.pyc
__pycache__/lightnovelpub.cpython-39.pyc
__pycache__/misc.cpython-39.pyc
__pycache__/pdfgenerator.cpython-39.pyc
__pycache__/requirement.cpython-39.pyc
__pycache__/start.cpython-39.pyc
__pycache__/task.cpython-39.pyc
.vscode/settings.json

config/chapterlist.ini
config/config.ini
config/style.ini
DATA/favicon.ico
DATA/lucida-sans-unicode.ttf
